/node_modules
/public/css/*.css
/public/js/*
/public/images/backgrounds/*
/public/images/profiles/*
/public/storage
/storage/*.key
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
