$g: #9a9a9a;
.comments-main {
  margin-top: 20px;
  #comments-line {
    width: 0;
    border: 1px solid $g;
    margin: 0 0 0 36px;
    float: left;
  }

  .comment {
    justify-content: left;
    align-items: baseline;
    padding-left: 40px;
    margin-bottom: 20px;
    min-height: 100px;

    .comment-avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 4px solid #fff;
      position: absolute;
      left: 134px;
    }

    .reply-text{
    }
    .comment-text {
      flex-direction: column;
      justify-content: left;
      justify-items: left;

      span {
        font-weight: 700;
      }

      p {
        padding-left: 12px;
        margin: 12px 0;
      }

      .comment-footer {
        margin: 0 0 0 12px;
        color: #B2B2B2;

        img {
          margin-left: 8px;
        }

        a {
          margin-left: 40px;
          cursor: pointer;
        }
      }
    }
  }


  .replies-line {
    position: absolute;
    left: 258px;
  }

  .reply {
    padding-left: 120px;

    .comment-avatar {
      left: 214px;
    }
  }
}

.comments-main .com:last-child div div .reply .comment-card .comment-text{
  padding-left: 36px;
}