.comments-main {
  margin-top: 20px;
}

.comments-main #comments-line {
  width: 0;
  border: 1px solid #9a9a9a;
  margin: 0 0 0 36px;
  float: left;
}

.comments-main .comment {
  justify-content: left;
  align-items: baseline;
  padding-left: 40px;
  margin-bottom: 20px;
  min-height: 100px;
}

.comments-main .comment .comment-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  left: 134px;
}

.comments-main .comment .comment-text {
  flex-direction: column;
  justify-content: left;
  justify-items: left;
}

.comments-main .comment .comment-text span {
  font-weight: 700;
}

.comments-main .comment .comment-text p {
  padding-left: 12px;
  margin: 12px 0;
}

.comments-main .comment .comment-text .comment-footer {
  margin: 0 0 0 12px;
  color: #B2B2B2;
}

.comments-main .comment .comment-text .comment-footer img {
  margin-left: 8px;
}

.comments-main .comment .comment-text .comment-footer a {
  margin-left: 40px;
}

.comments-main .replies-line {
  position: absolute;
  left: 258px;
}

.comments-main .reply {
  padding-left: 120px;
}

.comments-main .reply .comment-avatar {
  left: 214px;
}

